#site-header {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 100;
    backface-visibility: hidden;
    left: 0;
    height: 4em;
    @apply sticky top-0 bg-[var(--c-header-background-color)]/60 transition-colors duration-150 ease-in-out;
}

.site-header-wrap {
    max-width: 1110px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 3.66em;
    padding: 0 10px;
}

#site-header .title {
    display: flex;
    align-items: center;
    height: 100%;
}

#site-header #site-logo {
    max-height: 2.4em;
    display: flex;
    align-items: center;
}

#site-header #site-logo {
    width: auto;
}



.header-user-panel--nav {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    margin-left: auto;
    align-items: center;
}

.site-navigation--nav {
    position: relative;
    height: 100%;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 1.5rem;
    @apply hidden sm:flex
}

.site-nav--btn {
    text-transform: none;
    color: #FFFFFF;
    font-family: var(--c-font-family-base);
    font-weight: 600;
    margin: 0 4px;
    @apply px-4 py-2 hover:bg-white/20 flex items-center transition-all duration-150 ease-in-out;
}

.site-nav--btn.router-link-active {
    @apply bg-gray-200/5
}

.site-nav--btn .icon {
    @apply mr-2
}

#current-user {
    @apply rounded-md transition-all flex items-center cursor-pointer bg-white/5 hover:bg-white/10;
}

.user-menu-items {
    @apply absolute right-0 mt-2 origin-top-right divide-y divide-gray-100 rounded-md bg-[var(--c-primary-50)] shadow-lg ring-1 ring-black/5 focus:outline-none list-none z-50
}

.user-menu-items .menu-item {
    @apply px-4 py-2 w-full hover:text-white flex text-left items-center;
}

.user-menu-items .menu-item .icon {
    @apply mr-2;
}


#logout-button {
    @apply hover:bg-red-600 hover:text-white
}


#current-user .avatar {
    height: 40px;
    width: 40px;
    @apply rounded-md;
}

#current-user .user-name {
    @apply text-white;
    @apply px-4;
    @apply font-semibold;
    @apply text-sm;
}