#site-header {
    @apply backdrop-blur-xs w-full overflow-visible z-[99999] mb-10 header-animate;

}

@utility header-animate {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: reduce-header linear both;
  animation-timeline: scroll();
  animation-range: 0 150px;
  background-color: var(--color-brand-black);
}

@media (width > 768px) {
  .header-animate {
    background-color: transparent;
  }
}

@keyframes reduce-header {
  to {
    box-shadow: 0 5px 50px -5px #ffffff1a, 0 0 0 1px #ffffff1a;
    background: #0000004d;
    padding-block: 0rem;
    backdrop-filter: blur(10px);
  }
}


.site-header-wrap {
    max-width: 1110px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 3.66em;
    padding: 0 10px;
}

#site-header .title {
    display: flex;
    align-items: center;
    height: 100%;
}

#site-header #site-logo {
    max-height: 2.4em;
    display: flex;
    align-items: center;
}

#site-header #site-logo {
    width: auto;
}



.header-user-panel--nav {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    margin-left: auto;
    align-items: center;
}

.site-navigation--nav {
    position: relative;
    height: 100%;
    flex: 0 0 auto;
    align-items: center;
    @apply hidden sm:flex mx-auto;
}

.site-nav--btn {
    font-family: var(--c-font-family-base);
    margin: 0 4px;
    @apply px-4 py-2 text-zinc-400 text-base font-medium hover:bg-white/20 flex items-center transition-all duration-150 ease-in-out;
    position: relative;
}
.site-nav--btn::after {
    content: "";
    @apply absolute left-2 right-2 bottom-0 h-0.5 bg-white rounded;
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1), opacity 0.3s;
    transform: scaleX(0.2);
    opacity: 0;
    pointer-events: none;
}
.site-nav--btn.router-link-active {
        @apply text-white relative;
    }
.site-nav--btn.router-link-active::after {
    transform: scaleX(1);
    opacity: 1;
}

.site-nav--btn .icon {
    @apply mr-2
}

#current-user {
    @apply rounded-full transition-all flex items-center cursor-pointer bg-white/5 hover:bg-white/10;
}

.user-menu-items {
    ::before {
        content: "";
        @apply absolute inset-0 -z-10 rounded-xl;
        background: linear-gradient(135deg, rgba(60,60,60,0.5) 0%, rgba(30,30,30,0.5) 100%);
    }
    @apply absolute right-0 mt-2 origin-top divide-gray-500 rounded-md  shadow-lg ring-1 ring-black/5 focus:outline-none list-none
}

.user-menu-items .menu-item {
    @apply px-4 py-2 w-full hover:text-white flex text-left items-center;
}

.user-menu-items .menu-item .icon {
    @apply mr-2;
}


#logout-button {
    @apply hover:bg-red-600 hover:text-white
}


#current-user .avatar {
   
    @apply rounded-full size-8;
}

#current-user .user-name {
    @apply text-white;
    @apply px-4;
    @apply font-semibold;
    @apply text-sm;
}