body.wizard {
    background: url('/public/assets/images/wizard-bg.svg');
    background-size: 110vw 110vh;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, sans-serif;
}

body.wizard #wizard-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-installer-logo {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.c-installer-logo img {
    max-width: 100%;
    max-height: 2.4em;
}


.wizard-container__step {
    margin-top: 1em;
    max-width: 50%;
    min-width: 35%;
    width: 100%;
}

.wizard-container__step-header {
    text-align: center;
    margin-bottom: 3em;
}

.wizard-container__step-header--emoji img {
    width: 30px;
    height: 30px;
    margin-bottom: 1em;
}

.wizard-container__step-counter {
    text-align: center;
    font-weight: 700;
    color: var(--primary-medium);
}

.wizard-container__step-title {
    @apply text-2xl font-bold
}

.wizard-container__step-description {
    @apply text-lg;
    flex: 1 0 40%;
}

.wizard-container__step-text {
    display: inline;
    margin-right: 0.25em;
}

.wizard-container__step-count {
    min-width: 3.2em;
    text-align: center;
}

.wizard-container {
    position: relative;
    z-index: 11;
    background-color: var(--c-secondary-color);
    box-shadow: 0 4px 19px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    margin: 1em auto;
    padding: 0;
    border: 1px solid var(--c-primary-400);
    border-radius: 8px;
    padding: 2em;
}

.wizard-container__step-contents {
    min-height: 37em;
    margin-bottom: 2em;
}

.wizard-container__step-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wizard-container__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .wizard-container__step {
        max-width: 95%;
    }
}

@media screen and (max-width: 1000px) {
    .wizard-container {
        padding: 2em 1.5em;
    }
}