body[data-current-path="/profiles/select"] #global-alerts,
body[data-current-path^="/watch/"] #global-alerts,
body[data-current-path^="/contents/"] #global-alerts {
    display: none;
}


#global-alerts {
    @apply mt-8
}

.global-notice {
    max-width: 1150px !important;
    border-radius: 0;
    max-height: 30vh;
    overflow: auto;
    background-color: var(--c-primary-50);
    @apply px-4 py-4 mx-auto mt-4
}

.global-notice a {
    @apply text-blue-500
}

#site-banner {
    background-color: var(--c-tertiary-50)
}
