.season-list {
    @apply my-4;

    .season-container {
        @apply flex my-2 py-4 px-6 items-center bg-white bg-opacity-5 rounded-md md:flex-row flex-col;

        .season-header {
            @apply flex items-center space-x-8;

            .season-title {
                @apply text-lg font-semibold mx-4
            }

        }

        .season-actions {
            @apply flex items-center space-x-2 md:ml-auto ml-0 flex-wrap flex-col md:flex-row w-full md:w-auto;
        }
    }
}

.episode-manager-list {
    @apply my-4 overflow-y-auto max-h-96;

    .episode-manager-container {
        @apply flex my-2 py-4 px-6 items-center bg-white bg-opacity-5 rounded-md md:flex-row flex-col;

        .episode-manager-header {
            @apply flex items-center space-x-8;

            .episode-manager-title {
                @apply text-lg font-semibold mx-4
            }

        }

        .episode-manager-actions {
            @apply flex items-center space-x-2 md:ml-auto ml-0 flex-wrap flex-col md:flex-row w-full md:w-auto;
        }
    }
}

.editor-episode-container {
    @apply flex my-2 py-4 px-6 items-center bg-white bg-opacity-5 rounded-md md:flex-row flex-col;

    .episode-thumbnail {
        margin-left: 8px;
        margin-right: 16px;
        width: 160px;
        height: 90px;
        background-color: var(--c-primary-50);
        background-size: cover;
        background-position: center;
        @apply rounded-md;
    }

    .episode-header {
        @apply flex flex-col;

        .episode-title {
            @apply text-lg font-semibold mx-4
        }

        .episode-description {
            @apply text-sm text-gray-400 mx-4
        }

    }

    .episode-actions {
        @apply flex items-center space-x-2 md:ml-auto ml-0 flex-wrap flex-col md:flex-row w-full md:w-auto;
    }
}