@import "./common/admin/base.scss";

.admin-dashboard {
    @apply mt-10;

    #problems {

        .problem-container {
            @apply flex my-2 text-white p-4 items-center;

            .text-base a {
                @apply text-[var(--c-tertiary-color)] hover:text-[var(--c-tertiary-50)]
            }

        }

    }
}

.admin-dashboard .panel {
    @apply px-4 py-4
}

.admin-main-nav {
    @apply flex;
}

.admin-main-nav .nav.nav-pills {
    @apply flex
}

.nav-item {
    @apply px-4 py-2 flex transition-colors hover:bg-[var(--c-tertiary-400)] hover:text-[var(--c-primary)] cursor-pointer;

    & .icon {
        @apply mr-2
    }
}


.admin-nav-active {
    @apply bg-[var(--c-tertiary-50)] text-white
}

.admin-container>.nav-pills {

    .nav-pills--active {
        color: var(--m-primary);
    }
}

.version-checks .section-title {
    flex: 1 1 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
}

.version-check {
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: space-between;
    padding-top: 1em;
}

.version-check .version-number {
    font-size: var(--font-up-2);
    line-height: var(--line-height-small);
    box-sizing: border-box;
    font-weight: bold;
    margin-bottom: 2em;
    margin-right: 1em;
    flex: 1 1 27%;
}

.version-check .version-number h4 {
    font-size: var(--font-down-2);
    margin-bottom: 0.5em;
}

.version-check .version-number h3 {
    flex: 1 0 auto;
    margin: 0;
    white-space: nowrap;
}

.version-check .version-number .sha-link {
    display: inline-flex;
    font-size: var(--font-down-2);
    font-weight: normal;
}

@media screen and (max-width: 850px) {
    .version-check .version-status {
        max-width: unset;
    }
}

.version-check .version-status {
    display: flex;
    align-items: center;
    margin: 0 0 1em 0;
    flex: 1 1 24%;
    box-sizing: border-box;
    padding-right: 20px;
    min-width: 250px;
}

.version-check .version-status .face {
    margin: 0 0.75em 0 0;
    font-size: var(--font-up-3);
}

.version-check .version-status .face>.up-to-date {
    @apply text-green-500
}

.version-check .upgrade-header {
    flex: 1 1 100%;
}

.settings .setting-container {
    @apply flex flex-col md:flex-row mb-4
}

.setting-title {
    @apply text-sm font-bold w-48 md:w-64 flex-wrap
}

.setting-value {
    padding-right: 20px;
}

.setting-value.input {
    @apply px-4 py-2 border-2 border-gray-300 rounded-md hover:border-gray-400 transition-colors active:border-gray-500 focus:outline-none;

}

.setting-value.textarea {
    @apply px-4 py-2 border-2 border-gray-300 rounded-md hover:border-gray-400 transition-colors focus:border-blue-400 focus:outline-none w-full overflow-auto
}

.setting-description {
    @apply text-sm text-gray-400 pt-1 flex-wrap;

    & a {
        @apply text-[var(--c-tertiary-400)] hover:text-[var(--c-tertiary-500)]
    }
}



.setting-image-uploader {
    display: flex;
}

#updated-recently {
    background: url('/public/assets/images/confetti-bg.svg');
    background-size: 110vw 110vh;
    background-repeat: no-repeat;
    background-position: center;
}

#ready-for-update-banner {
    background: url('/public/assets/images/ready-for-update.svg');
    background-size: 110vw 110vh;
    background-repeat: no-repeat;
    background-position: center;
}

body.is-mobile {

    .settings .setting-container .setting-image-uploader {
        flex-direction: column;

        .uploaded-image-preview {
            max-width: 320px;
        }
    }

    .settings .setting-container {
        max-width: 320px;

    }
}

.uploaded-image-preview {
    height: 270px;
    width: 400px;
    max-height: 150px;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #C5C5C5;
}


.image-upload-controls {
    @apply relative flex;
    padding: 10px;
    float: right;
}



.settings-submit {
    @apply px-4 py-2 text-white bg-[var(--c-primary)] rounded-md cursor-pointer hover:bg-[var(--c-primary-400)] transition-colors;
}

.terminal-updating {
    margin-top: 20px;
    overflow-x: scroll;
    height: 400px;
    white-space: pre;
    font-family: monospace;
    background-color: #000;
    color: #ddd;
    padding: 10px;
}

.panel-body .edit-content {
    @apply flex flex-col;
    @apply max-w-2xl justify-center mx-auto my-8
}

#admin-dashboard .dashboard-stats .charts {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;


    .admin-stats {
        grid-column: span 4;
        background-color: var(--c-primary-50);

        .header {
            @apply flex items-center justify-between
        }

        .chart-canvas-container {
            position: relative;
        }
    }
}

#admin-dashboard .dashboard-stats .charts .admin-stats .header {
    @apply px-4 py-2
}

#admin-dashboard .dashboard-stats .charts .admin-stats-consolidated {
    background-color: var(--c-primary-50);
    padding: 1em;
    grid-column: span 12;

    .chart-canvas-container {
        height: 250px;
    }
}





@media screen and (max-width: 600px) {
    .admin-container {
        padding: .5em .5em 5%;
        margin-bottom: 1rem;
    }

    .settings .setting-container .setting-image-uploader .uploaded-image-preview {
        max-width: 320px;
    }

    #admin-dashboard .dashboard-stats .charts {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;

        .admin-stats {
            grid-column: span 12;
            background-color: var(--c-primary-50);

            .header {
                @apply flex items-center justify-between
            }

            .chart-canvas-container {
                position: relative;
            }
        }
    }

}